

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(
    76deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(252, 255, 90, 1) 0%,
    rgba(255, 37, 243, 1) 100vw
  );
  background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
  margin: 0;
  padding: 0;
}
.allPage{
  height: 100vh;
  width: 100%;
}
.text {
    position: absolute;
    margin-left: 45%;
    /* background-color: rgba(0, 0, 0, 0.233); */
    top: 50%;
    transform: translateY(-50%);
    height: 450px;
    width: 750px;
  }

.text h2 {
    display: block;
    color: white;
    /* background-color: grey; */
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 50px;
    font-family: Helvetica;
  }

.text p {
    display: inline-block;
    /*background-color: rgba(192, 192, 192, 0.562);*/ 
    font-size: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
  }

.text button{
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0);
  color: white;
  height: 50px;
  width: 150px;
  font-size: 30px;
  font-family: Helvetica;
  margin-top: 20px;
  border-color: white;
  border: 3px solid;
}
.text button:hover{
  transform: scale(1.1);
  margin-bottom: -7px;
  margin-left: 7px;
  transition: 0.4s;
}
.text button:active{
  transform: scale(1);
  transition: 0.4s;
}
.text .name{
  position: absolute;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.808);
  margin-top: 15px;
}
.container{
  position: absolute;
  display: flex;
  /*background-color: rgba(0, 0, 0, 0.267);*/
  width: 50vh;
  height: 50vh;
  top: 24%;
  left: 15%;
  border-radius: 5%;
  align-items: center; /* Para centrar verticalmente los elementos dentro del contenedor */
  justify-content: center; /* Para centrar horizontalmente los elementos dentro del contenedor */
  flex-wrap: wrap; /* Para que los elementos se ajusten al ancho del contenedor */
}
  
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 3) - 30px);
  height: calc((100% / 3) - 30px);
  background-color: white;
  margin: 15px;
  border-radius: 10%;
  box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.29);
  cursor: pointer;
}

.cell p{
  position: absolute;
  z-index: 1;
  font-size: 2.2vh;
  transform: scale(4.5);
  color: rgb(2, 207, 207);
}

.cell:active{
    background-color: rgb(32, 203, 255);
    transform: scale(0.95);
    transition: 0.3s;
}

.cell.shrink {
  transform: scale(0.95);
  transition: transform 0.4s ease;
}

#WinLoseMsg{
  position: absolute;
  display: none;
  place-content: center;
  text-align: center;
  width: 30%;
  height: 10%;
  left: 35%;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.589);
  border-radius: 15px;
  ;
}

#WinLoseMsg p{
 position: relative;
 z-index: 2;
 margin-top: 12px;
 text-align: center;
 font-size: 6vh;
 color: rgb(1, 253, 1);
}


@media (max-width: 1478px) {
  .container {
  left: 5%;
}
.text{
  transform: scale(0.7);
  top: 20%;
}
#WinLoseMsg{
  left: 38%;
}
}
@media (max-width: 770px) {
  .container {
  left: 23%;
  top: 5%;
  transform: scale(0.8);
}
.text{
  transform: scale(0.8);
  top: 45%;
  margin-left: 0;
  left: 10%;
}
#WinLoseMsg{
  left: 38%;
}
}
@media (max-width: 425px) {
  .container {
  left: 0%;
  top: 10%;
  transform: scale(0.75);
}
.text button{
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0);
  color: white;
  height: 100px;
  width: 300px;
  margin-left: 18%;
  font-size: 30px;
  font-family: Helvetica;
  margin-top: 20px;
  border-color: white;
  border: 3px solid;
}

.text{
  transform: scale(0.6);
  top: 45%;
  margin-left: -35%;
}
#WinLoseMsg{
  left: 38%;
}

}