* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/1119564.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Agregamos esta propiedad para ocultar el scroll */
}

h1 {
    position: relative;
    top: 100px;
    display: block;
    text-align: center;
    /* margin-top:; */
    font-family: Helvetica;
    font-size: 50px;
}

.containerFull {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(236, 236, 236, 0.507);
    display: grid;
    place-items: center;
    height: 400px;
    width: 300px;
    border: 3px solid;
    margin-bottom: 7%; /* Cambia el valor de margin-top aquí */
}

.container p {
    font-size: 70px;
    height: 20px;
    margin-bottom: 40px;
}

.container button {
    font-size: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.329);
    border-style: solid;
    color: rgb(241, 240, 240);
    border: 0;
    cursor: pointer;
}

.container button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.container button:active {
    transform: scale(0.9);
    transition: 0.2s;
}
